@CHARSET "UTF-8";
html,body{height: 100%;}
.g-page{
	position:relative;
	height: 100%;
}
.button-sp-area{
	position: absolute;
	top: 50%;
	left:0;
	right:0;
	padding: 0 10%;
	transform:translateY(-50%);
}