html,body{height: 100%;}
.g-page{display:-webkit-box; display:flex; -webkit-box-orient:vertical;flex-direction:column ; height: 99.9%;}

.g-header{-webkit-box-flex:0;flex:none; width:100%;height: 40px; line-height:40px;border-bottom:1px solid #ddd;background-color: #e9e9e9; text-shadow: 0 1px 0 #eee;}

.g-content{position:relative; -webkit-box-flex:1;flex:auto; overflow: auto;}
.g-footer{-webkit-box-flex:0;flex:none; width:100%;height:50px; border-top:1px solid #ddd;background-color: #e9e9e9; text-shadow: 0 1px 0 #eee;}

.u-back-left{float:left; margin:10px 10px 10px 20px; width: 20px;height: 20px;background: url(../../../../images/icons/icon_left.png) no-repeat; background-size:20px 20px;}

.u-title{height: 40px; line-height:40px;font-weight: bold;font-size: 14px;overflow: hidden;}

.f-red1{color:#EF4F4F;}

.weui_tab{position: absolute;width: 100%;}
.weui_navbar_item.weui_bar_item_on{border-color:#38c; color:#fff; background-color: #38c;text-shadow: 0 1px 0 #059;}
.weui_navbar{z-index: 2;}

/**
 * 滚动样式
 * Pull up or down styles
 *
 */
#wrapper {
    position:absolute; 
    top:50px;
    bottom:0;
    width:100%;
    overflow:auto;
    z-index:1;
}

#scroller {
    position:absolute;
     -webkit-touch-callout:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    width:100%;
    /* height:100%; */
    padding:0;
     z-index:1;
}

#scroller ul {
    list-style:none;
    padding:0;
    margin:0;
    width:100%;
    text-align:left;
}

#scroller li {
	margin:0 0 5px 0;
    padding:0 10px;
    border-bottom:1px solid #ccc;
   /*  border-top:1px solid #fff; */
    background-color:#fafafa;
}

 
#pullDown {
    background:#fff;
    height:40px;
    line-height:40px;
    padding:5px 10px;
    border-bottom:1px solid #ccc;
    font-weight:bold;
    font-size:14px;
    color:#888;
}
#pullUp {
   /*  position:absolute;
    bottom:-40px; */
    height:40px;
    width:100%;
    line-height:40px;
    padding:5px 10px;
    border-bottom:1px solid #ccc;
    font-weight:bold;
    font-size:14px;
    color:#888;
    background:#fff;
   
}
#pullDown .pullDownIcon, #pullUp .pullUpIcon  {
    display:block; 
    float:left;
    width:40px;
    height:40px;
    background:url(../../../../images/icons/pull-icon@2x.png) 0 0 no-repeat;
    -webkit-background-size:40px 80px; background-size:40px 80px;
    -webkit-transition-property:-webkit-transform;
    -webkit-transition-duration:250ms;  
}
#pullDown .pullDownIcon {
    -webkit-transform:rotate(0deg) translateZ(0);
}
#pullUp .pullUpIcon  {
    -webkit-transform:rotate(-180deg) translateZ(0);
}

#pullDown.flip .pullDownIcon {
    -webkit-transform:rotate(-180deg) translateZ(0);
}

#pullUp.flip .pullUpIcon {
    -webkit-transform:rotate(0deg) translateZ(0);
}

#pullDown.loading .pullDownIcon, #pullUp.loading .pullUpIcon {
    background-position:0 100%;
    -webkit-transform:rotate(0deg) translateZ(0);
    -webkit-transition-duration:0ms;

    -webkit-animation-name:loading;
    -webkit-animation-duration:2s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
}

@-webkit-keyframes loading {
    from { -webkit-transform:rotate(0deg) translateZ(0); }
    to { -webkit-transform:rotate(360deg) translateZ(0); }
}

.m-receipt-list{overflow: auto;}
.m-receipt-list .line{position: relative;}
.m-receipt-list .txt-line{}
.m-receipt-list .lab{margin-left:5px;font-weight:bold;}
.m-receipt-list .txt{display:inline-block; margin-left:5px;vertical-align:middle;}
.m-receipt-list .ranking{margin-left:20px; color:#EF4F4F; }
.m-receipt-search{float:right;margin-top: 0.5em;margin-right: 5px;}

.m-receipt-list .receipt-status{position:absolute;top:20px;right:35px;box-sizing:border-box; padding:0 0 0 10px; width:60px;height:20px; color: #EF4F4F;background:url(../../../../images/icons/lable_bg.png) no-repeat 0px 0px;background-size:60px 60px;}
.m-receipt-list .receipt-status.complete{color:#FFF;background-position: 0px -20px;}
.m-receipt-list .receipt-sn{position:absolute;top:50px;right:35px; padding:10px 10px; width: 40px;height: 40px;border: 1px solid #EF4F4F;border-radius:50%; text-align:center; color: #EF4F4F;}
.m-receipt-list .receipt-btn{position: absolute;top: 130px;right: 23px;width: 80px;}


.m-receipt-list .no-recording{display:none;  text-align: center;}

.m-receipt-list.empty .list{display: none;}
.m-receipt-list.empty .no-recording{display: block;}
