@CHARSET "UTF-8";
html,body{ height: 100%;background-color: #fbf9fe;}

.g-page{display:-webkit-box; display:flex; -webkit-box-orient:vertical;flex-direction:column ; height: 99.9%;}

.g-header{-webkit-box-flex:0;flex:none; width:100%;height: 40px; line-height:40px;border-bottom:1px solid #ddd;background-color: #e9e9e9; text-shadow: 0 1px 0 #eee;}

.g-content{-webkit-box-flex:1;flex:auto; overflow: auto;}
.g-footer{-webkit-box-flex:0;flex:none; width:100%;height:50px; border-top:1px solid #ddd;background-color: #e9e9e9; text-shadow: 0 1px 0 #eee;}

.u-back-left{float:left; margin:10px 10px 10px 20px; width: 20px;height: 20px;background: url(../../../../images/icons/icon_left.png) no-repeat; background-size:20px 20px;}

.u-title{height: 40px; line-height:40px;font-weight: bold;font-size: 14px;overflow: hidden;}

.u-ipt-min{width: 60px;height: 25px;border: 1px solid #ccc;}
.f-bg1{background-color: #e9e9e9;}
.f-red1{color:#EF4F4F;}

/** 收货基本信息  **/
.m-receipt{position:relative;}
.m-receipt .txt-line{}
.m-receipt .lab{padding-left: 5px;font-weight:bold;}
.m-receipt .txt{vertical-align:middle;}
.m-receipt .receipt-sn{position:absolute;top:30px;right:30px; padding:10px 10px; width: 40px;height: 40px;border: 1px solid #EF4F4F;border-radius:50%; text-align:center; color: #EF4F4F;}


/** 收货单名细信息  **/
.m-receipt-detail{table-layout: fixed;border-collapse: collapse; margin-top:10px; width:100%; font-size: 12px;}
.m-receipt-detail th{font-weight: bold;}
.m-receipt-detail td,.m-receipt-detail th{border-bottom: 1px solid #ccc;padding: 5px 5px;}



/** 报价合同细条款名细信息  **/
.m-receipt-contract-term{table-layout: fixed;border-collapse: collapse; margin-top:10px; width:100%; font-size: 12px;}
.m-receipt-contract-term caption{padding: 5px 5px;border-bottom:1px solid #ddd;background-color: #e9e9e9; }
.m-receipt-contract-term th{font-weight: bold;}
.m-receipt-contract-term td,.m-receipt-contract-term th{border-bottom: 1px solid #ccc;padding: 5px 5px;}


.m-receipt-footer{height:50px; padding-right:10px; text-align: right;}
.m-receipt-footer .weui_btn{ margin:9px 0 0 8px; padding-top: 3px;padding-bottom: 3px;}