@CHARSET "UTF-8";
html,body{width: 100%;height: 100%; background-color: #fbf9fe;}
.g-pages{position:relative;display:flex;flex-direction:row;flex-wrap:nowrap; width:100%; height: 100%;overflow:hidden; }
.g-page{
	/* flex:100% 0 0; */
	/* width: 100%; */
	display:flex;
	flex-direction:column;
    height:100%; 
}
.g-page.gp-main{flex:0 0 100%;}
.g-page.gp-seller{flex:0 0 70%;background-color:#f8f8f8; transform:translateX(0%);transition:transform 0.3s linear;z-index: 10001;}
.g-page.gp-seller.show{transform:translateX(-100%);}

.gp-seller-mask{display: none;}
.gp-seller-mask.show{display: block;}

/* .g-page {
    position: absolute;
    display:-webkit-box;
    display:flex;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    flex-direction:column ;
    width:100%;
    height: 99.9%;
    background-color:#fff;
    transition:transform 0.5s linear;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;   
}
.g-page.gp-seller{left:100%; right:-100%;} */
.g-page.fadein{transform:translate3d(-100%,0,0);  z-index: 6;}

.g-header{-webkit-box-flex:0;flex:none; width:100%;height: 40px; line-height:40px;border-bottom:1px solid #ddd;background-color: #e9e9e9; text-shadow: 0 1px 0 #eee;}

.g-content{-webkit-box-flex:1;flex:auto; overflow: auto;}
.g-footer{-webkit-box-flex:0;flex:none; width:100%;height:120px; border-top:0px solid #ddd;background: rgba(0,0,0,0.2);  position: absolute; bottom: 0px;}

[v-cloak]{
	display: none;
}
.g-photo-bg1{
    background-size: 100%;
    background-position-y: 0px;
    background-repeat: no-repeat;
    background-image: url(../../../../images/base/photo-order.jpg);
}

.g-photo-bg2{
    background-image: url(../../../../images/base/photo-order-bg.jpg);
}


.u-picker-seller-btn{
	margin-top: 3px;
	width:79%;
    height: 40px;
    line-height: 40px;
    font-size:14px;
    color: #fff;
    text-align:left;
    background-color: #3385ff;
    margin:10px auto; margin-bottom:0px;
}


.u-pic-btn{
	display:inline-block;
    margin-left:10%;
    width:35%;
    height:40px;
    line-height:40px;
    font-size:15px;
    text-align:center;
    background:#436CB4;
    color:#FFF;
}

.u-submit-btn{
	float:right;
	display:inline-block;
    margin-right:10%;
    width:35%;
    height:40px;
    line-height:40px;
    font-size:15px;
    text-align:center;
    background:#5fb13b;
    color:#FFF;
}
.u-submit-btn.ing{background-color: #999999;}

.m-photoList{
    margin-top: 0px;
    background: transparent;
}
.m-photoList:after{
    display:block;
    clear:both;
/*     visibility:hidden; */
    height:0;
    overflow:hidden;
    content:"";
}
.m-photoList  .weui-uploader__input-box{
	 position:relative;
     height: 150px;
     width:50%;
     background-color: #f8f8f8;
}
.m-photoList .weui-uploader__file{
	box-sizing:border-box;
    position:relative;
    margin:0 0 0 0;
    padding-right:9px;
    padding-bottom:9px;
    height: 150px;
    width:50%;
/*     padding: 10px 15px 10px 10px; */
}

.m-photoList .del{
    position: absolute;
    width: 25px;
    height: 25px;
    right: -5px;
    top: 0;
    background: url(../../../../images/icons/icon_delete.png)  no-repeat;
    background-size:25px 25px;
}