@CHARSET "UTF-8";
html,body{ height: 100%;background-color: #fbf9fe;}


.g-page{display:-webkit-box; display:flex; -webkit-box-orient:vertical;flex-direction:column ; height: 99.9%;}

.g-header{-webkit-box-flex:0;flex:none; width:100%;height: 40px; line-height:40px;border-bottom:1px solid #ddd;background-color: #e9e9e9; text-shadow: 0 1px 0 #eee;}

.g-content{-webkit-box-flex:1;flex:auto; overflow: auto;}
.g-footer{-webkit-box-flex:0;flex:none; width:100%;height:50px; border-top:1px solid #ddd;background-color: #e9e9e9; text-shadow: 0 1px 0 #eee;}

.u-back-left{float:left; margin:10px 10px 10px 20px; width: 20px;height: 20px;background: url(../../../../images/icons/icon_left.png) no-repeat; background-size:20px 20px;}

.u-title{height: 40px; line-height:40px;font-weight: bold;font-size: 14px;overflow: hidden;}

.f-red1{color:#EF4F4F;}

/** 竞价基本信息  **/
.m-bid{}
.m-bid .txt-line{}
.m-bid .lab{float:left;width:80px;margin-right:-80px;font-weight:bold;}
.m-bid .lab.bid-time{line-height: 72px;}
.m-bid .txt{margin-left:80px;vertical-align:middle;}
.m-bid .txt *{vertical-align:middle;}
.m-bid .ranking{margin-left:20px; color:#EF4F4F;}

/** 竞价单名细信息  **/
.m-bid-detail{table-layout: fixed;border-collapse: collapse; margin-top:10px; width:100%; font-size: 12px;}
.m-bid-detail th{font-weight: bold;}
@media screen and (max-width:414px){
.m-bid-detail .th1{text-align: center;width: 2.5em;}
.m-bid-detail .th2{text-align: center;width: 2.5em;}
.m-bid-detail .th3{text-align: center;width: 1.5em;}
.m-bid-detail .th4{text-align: center;width: 2.5em;}
.m-bid-detail .th5{text-align: center;width: 2em;border-right: none;}
}
@media screen and (max-width:375px){
.m-bid-detail .th1{text-align: center;width: 2.5em;}
.m-bid-detail .th2{text-align: center;width: 2.5em;}
.m-bid-detail .th3{text-align: center;width: 1.5em;}
.m-bid-detail .th4{text-align: center;width: 2.5em;}
.m-bid-detail .th5{text-align: center;width: 2em;border-right: none;}
}
@media screen and (max-width:320px){
.m-bid-detail .th1{text-align: center;width: 1.5em;}
.m-bid-detail .th2{text-align: center;width: 2.5em;}
.m-bid-detail .th3{text-align: center;width: 1.5em;}
.m-bid-detail .th4{text-align: center;width: 2.5em;}
.m-bid-detail .th5{text-align: center;width: 2em;border-right: none;}
}
.m-bid-detail td,.m-bid-detail th{border-bottom: 1px solid #ccc;padding: 5px 5px;border-right: 1px dashed #AB9090;}
.m-bid-detail .is-self-bid{color: #F00;background: #FFE4E1;}
.m-bid-detail .more-btn{height: 20px;line-height: 20px;width: 100%;top: 8px;}

/** 竞价单扩展信息（买方条款） **/
.m-bid-extra{}
.m-bid-extra .txt-line{margin: 5px 0}
.m-bid-extra .lab{margin:0 5px; font-weight: bold;}


/** 竞价合同细条款名细信息  **/
.m-bid-contract-term{table-layout: fixed;border-collapse: collapse; margin-top:10px; width:100%; font-size: 12px;}
.m-bid-contract-term caption{padding: 5px 5px;border-bottom:1px solid #ddd;background-color: #e9e9e9; }
.m-bid-contract-term th{font-weight: bold;}
.m-bid-contract-term td,.m-bid-contract-term th{border-bottom: 1px solid #ccc;padding: 5px 5px;}


.m-bid-footer{height:50px; padding-right:10px; text-align: right;}
.m-bid-footer .weui_btn{ margin:9px 0 0 8px; padding-top: 3px;padding-bottom: 3px;}
