@CHARSET "UTF-8";
html,body{ height: 100%;background-color: #fbf9fe;}
p{font-size: 13px;text-align:center;color:#666}
table{text-align:center;widht:100%;}
td{font-size: 13px;color:#666}
.g-page{display:-webkit-box; display:flex; -webkit-box-orient:vertical;flex-direction:column ; height: 99.9%;}

.g-header{-webkit-box-flex:0;flex:none; width:100%;height: 40px; line-height:40px;border-bottom:1px solid #ddd;background-color: #e9e9e9; text-shadow: 0 1px 0 #eee;}

.g-content{-webkit-box-flex:1;flex:auto; overflow: auto;}
.g-footer{-webkit-box-flex:0;flex:none; width:100%;height:50px; border-top:1px solid #ddd;background-color: #e9e9e9; text-shadow: 0 1px 0 #eee;}



/*内容模块*/
.m-remind{width:96%;margin:2% auto;padding:20px 0;text-indent:1em;border-radius:6px ;border:1px solid #ccc;margin-top:40%;background:#f2f2f2;}
.m-title{text-align:center;color:#333;font-size:15px;margin-bottom:1em;}
.m-td-l{text-align: left;width:50%;}
.m-td-r{text-align: right;width:50%;}



