@CHARSET "UTF-8";
html,body{ height: 100%;background-color: #fbf9fe;}


.g-page{display:-webkit-box; display:flex; -webkit-box-orient:vertical;flex-direction:column ; height: 99.9%;}

.g-header{-webkit-box-flex:0;flex:none; width:100%;height: 40px; line-height:40px;border-bottom:1px solid #ddd;background-color: #e9e9e9; text-shadow: 0 1px 0 #eee;}

.g-content{-webkit-box-flex:1;flex:auto; overflow: auto;}
.g-footer{-webkit-box-flex:0;flex:none; width:100%;height:50px; border-top:1px solid #ddd;background-color: #e9e9e9; text-shadow: 0 1px 0 #eee;}

.u-back-left{float:left; margin:10px 10px 10px 20px; width: 20px;height: 20px;background: url(../../../../images/icons/icon_left.png) no-repeat; background-size:20px 20px;}

.u-title{height: 40px; line-height:40px;font-weight: bold;font-size: 14px;overflow: hidden;}
.u-ipt-min{width: 60px;height: 25px;border: 1px solid #ccc;}
.f-red1{color:#EF4F4F;}

/** 发货基本信息  **/
.m-shipping{}
.m-shipping .txt-line{}
.m-shipping .lab{float:left;width:90px;margin-right:-90px;font-weight:bold;}
.m-shipping .lab.shipping-time{line-height: 72px;}
.m-shipping .txt{margin-left:90px;vertical-align:middle;}
.m-shipping .txt *{vertical-align:middle;}

/** 发货单名细信息  **/
.m-shipping-detail{table-layout: fixed;border-collapse: collapse; margin-top:10px; width:100%; font-size: 12px;}
.m-shipping-detail th{font-weight: bold;}
.m-shipping-detail td,.m-shipping-detail th{border-bottom: 1px solid #ccc;padding: 5px 5px;}

.shipping-sn{position:absolute;top:130px;right:10px; padding:10px 10px; width: 40px;height: 40px;border: 1px solid #EF4F4F;border-radius:50%; text-align:center; color: #EF4F4F;}
.m-shipping-detail-up,.m-shipping-detail-down{padding: 0 .75em;display: inline-block;height: 10px;line-height:0.5;width: 40px;}
.m-shipping-detail-nav{float:right;height: 10px;line-height: 10px;}

.m-shipping-footer{height:50px; padding-right:10px; text-align: right;}
.m-shipping-footer .weui_btn{ margin:9px 0 0 8px; padding-top: 3px;padding-bottom: 3px;}
