@CHARSET "UTF-8";
html,body{ height: 100%;background-color: #fbf9fe;}


.g-page{display:-webkit-box; display:flex; -webkit-box-orient:vertical;flex-direction:column ; height: 99.9%;}

.g-header{-webkit-box-flex:0;flex:none; width:100%;height: 40px; line-height:40px;border-bottom:1px solid #ddd;background-color: #e9e9e9; text-shadow: 0 1px 0 #eee;}

.g-content{-webkit-box-flex:1;flex:auto; overflow: auto;}
.g-footer{-webkit-box-flex:0;flex:none; width:100%;height:50px; border-top:1px solid #ddd;background-color: #e9e9e9; text-shadow: 0 1px 0 #eee;}

.u-back-left{float:left; margin:10px 10px 10px 20px; width: 20px;height: 20px;background: url(../../../../images/icons/icon_left.png) no-repeat; background-size:20px 20px;}

.u-title{height: 40px; line-height:40px;font-weight: bold;font-size: 14px;overflow: hidden;}
.u-ipt-min{width: 60px;height: 25px;border: 1px solid #ccc;}
.f-red1{color:#EF4F4F;}

/** 竞价基本信息  **/
.m-order{}
.m-order .txt-line{}
.m-order .lab{float:left;width:90px;margin-right:-90px;font-weight:bold;}
.m-order .lab.order-time{line-height: 72px;}
.m-order .txt{margin-left:90px;vertical-align:middle;}
.m-order .txt *{vertical-align:middle;}
.m-order .ranking{margin-left:20px; color:#EF4F4F;}

/** 竞价单名细信息  **/
.m-order-detail{table-layout: fixed;border-collapse: collapse; margin-top:10px; width:100%; font-size: 12px;}
.m-order-detail th{font-weight: bold;}
.m-order-detail td,.m-order-detail th{border-bottom: 1px solid #ccc;padding: 5px 5px;}

/** 竞价单扩展信息（买方条款） **/
.m-order-extra{}
.m-order-extra .txt-line{margin: 5px 0}
.m-order-extra .lab{margin:0 5px; font-weight: bold;}


/** 竞价合同细条款名细信息  **/
.m-order-contract-term{table-layout: fixed;border-collapse: collapse; margin-top:10px; width:100%; font-size: 12px;}
.m-order-contract-term caption{padding: 5px 5px;border-bottom:1px solid #ddd;background-color: #e9e9e9; }
.m-order-contract-term th{font-weight: bold;}
.m-order-contract-term td,.m-order-contract-term th{border-bottom: 1px solid #ccc;padding: 5px 5px;}


.m-order-footer{height:50px; padding-right:10px; text-align: right;}
.m-order-footer .weui_btn{ margin:9px 0 0 8px; padding-top: 3px;padding-bottom: 3px;}
